.App {
  text-align: center;
  color: #ffffff;
}

.App-logo {
  height: 15vmax;
  pointer-events: none;
}

.Content {
  text-align: center;
  align-items: center;
  max-width: 85vw;
}

.NavBar {
  padding: 2px;
  color: #ffffff;
  background: linear-gradient(0.25turn, #4CF087, #34B4C1, #1B77F8);
  height: 10%;
  text-align: right;
  padding-right: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px

}

.NavItem {
  color: #ffffff;
  text-decoration: none;
  font-size: calc(8px + 1vmin);
  padding: 10px;
}

.App-header {
  background-color: #000000;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}

.App-link {
  color: green;
}

.Button {
  margin: 10px;
  background-color: #185801;
  color: #ffffff;
  border-radius: 25px;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid #000000;
  box-shadow: 0 1px #999;
  transition-duration: 0.4s;
  font-weight: bold;
}

.Button:hover {
  background-color: green; 
  color: white;
}

.Button:active {
  background-color: green;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.Box {
  padding: 1.5rem 1rem 1.5rem 1rem;
  border-color: #182523;
  background-color: #171923;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  max-width: 65vw;
  min-height: 55vh;
  font-size: calc(10px + 1vmin);
  color: #CBD5E0;
}

.green {
  color: green;
}